.footer{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5%;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    color: #fff;
    font-family: 'Monserrat', sans-serif;
    font-size: 20px;
}
.redes{
    padding: 0 15px;
}